{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}| Lieu création
{% endblock %}

{% block body %}
    <h2>Création d'un lieu</h2>

    <section>
        <table id="table-lieu" class="box-shad">
            <thead>
            </thead>
            <tbody>
            {{ form_start(lieuForm) }}
            <tr>
                <th class="text-left" scope="row">
                    {{ form_label(lieuForm.nom) }}
                </th>
                <td>
                    {{ form_widget(lieuForm.nom) }}
                    {{ form_errors(lieuForm.nom) }}
                </td>
            </tr>
            <tr>
                <th class="text-left" scope="row">
                    {{ form_label(lieuForm.rue) }}
                </th>
                <td>
                    {{ form_widget(lieuForm.rue) }}
                    {{ form_errors(lieuForm.rue) }}
                </td>
            </tr>

            <tr>
                <th class="text-left" scope="row">
                    {{ form_label(lieuForm.latitude) }}
                </th>
                <td>
                    {{ form_widget(lieuForm.latitude) }}
                    {{ form_errors(lieuForm.latitude) }}
                </td>
            </tr>

            <tr>
                <th class="text-left" scope="row">
                    {{ form_label(lieuForm.longitude) }}
                </th>
                <td>
                    {{ form_widget(lieuForm.longitude) }}
                    {{ form_errors(lieuForm.longitude) }}
                </td>
            </tr>
            <tr>
                <th class="text-left" scope="row">
                    {{ form_label(lieuForm.Ville) }}
                </th>
                <td>
                    {{ form_widget(lieuForm.Ville) }}
                    {{ form_errors(lieuForm.Ville) }}
                </td>
            </tr>
            </tbody>
            <tfoot>
            <td class="text-center">
                <button class="button button-blue">Enregistrer</button>
                {{ form_end(lieuForm) }}
            </td>
            <td class="text-center">
                <a href="{{ path('sortie_liste_sorties') }}">
                    <button class="button-blue">Annuler</button>
                </a>
            </td>


            </tfoot>
        </table>
    </section>

{% endblock %}

