{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}|Editer son profil
{% endblock %}

{% block body %}
    <h2>Mon profil</h2>
    <div class="flex">
        <div>
            <img class="img-profil" src="{{ asset('images/profils/' ~ participant.urlImage ) }}" alt="{{ participant.pseudo }}">
        </div>
        <div>
            {{ form_start(participantForm) }}
            {{ form_widget(participantForm) }}
            <button class="button-blue">Enregister</button>
            {{ form_end(participantForm) }}

        </div>
    </div>
{% endblock %}

