{% extends 'base.html.twig' %}

{% block body %}

    <h2>Consultation des détails de la sortie</h2>
    {# Tableau des détails de la sortie #}
    <section>
        <table id="table-creation" class="box-shad">
            <thead>
            </thead>
            <tbody>
            <tr>
                <th class="text-left" scope="row">
                    Nom de la sortie:
                </th>
                <td>{{ sortie.nom }}</td>
            </tr>

            <tr>
                <th class="text-left" scope="row">
                    Date et heure de la sortie:
                </th>
                <td>{{ sortie.dateHeureDebut | date('d/m/Y') }}</td>
            </tr>

            <br>
            <tr>
                <th class="text-left" scope="row">
                    Date limite d'inscription:
                </th>
                <td>{{ sortie.dateLimiteInscription | date('d/m/Y') }}</td>
            </tr>

            <br>
            <tr>
                <th class="text-left" scope="row">
                    Nombre de places:
                </th>
                <td>{{ sortie.nbInscriptionsMax }}</td>
            </tr>

            <tr>
                <th class="text-left" scope="row">
                    Durée:
                </th>
                <td> {{ sortie.duree }} minutes</td>
            </tr>

            <tr>
                <th class="text-left" scope="row">
                    Description et infos:
                </th>
                <td> {{ sortie.infosSortie }}</td>
            </tr>

            <th class="text-left" scope="row">
                <p>Campus: </p>
            </th>
            <td>{{ sortie.campus.nom }}</td>
            </tr>

            <tr>
                <th class="text-left" scope="row">
                    Lieu:
                </th>
                <td>{{ sortie.lieu.nom }}</td>
            </tr>

            <tr>
                <th class="text-left" scope="row">
                    Rue:
                </th>
                <td>{{ sortie.lieu.rue }}</td>
            </tr>

            <tr>
                <th class="text-left" scope="row">
                    Code Postal:
                </th>
                <td>{{ sortie.lieu.ville.codePostal }}</td>
            </tr>

            <tr>
                <th class="text-left" scope="row">
                    Latitude:
                </th>
                <td>{{ sortie.lieu.latitude }}</td>
            </tr>

            <tr>
                <th class="text-left" scope="row">
                    longitude:
                </th>
                <td>{{ sortie.lieu.longitude }}</td>
            </tr>
            </tbody>
        </table>
    </section>

    {# Bouton permettant de s'inscrire #}
    <button class="button-blue"><a href="{{ path('sorties_inscrire', { 'id' : sortie.id }) }}" class="a-text-white" >S'inscrire</a></button>
    {# on parcourt le tableau assosPartiSort pour rechercher si l'individu est inscrit ou pas #}
    {% for inscrit in sortie.assosPartiSort %}
        {% if app.user.id == inscrit.participant.id %}
            {% set isncrit = true %}
            {# Bouton permettant de desister #}
            <button class="button-blue"><a href="{{ path('sorties_desister', { 'id' : sortie.id }) }}" class="a-text-white">Désister</a></button>
        {% endif %}
    {% endfor %}


    <h2>Liste des participants inscrits</h2>

    <div id="tableau-participants">
        <table id="tableau">
            <thead>
            <tr>
                <th>Pseudo</th>
                <th>Nom</th>

            </tr>
            </thead>
            <tbody>
            {% for assosPartiSort in sortie.assosPartiSort %}
                <tr>
                    <td>
                        {# lien sur le pseudo permettant d'atteindre la page des informations d'un participant #}
                        <a href="{{ path('participant_afficher', { 'id' : assosPartiSort.participant.id }) }}">{{ assosPartiSort.participant.pseudo }}</a>
                    </td>
                    {# permet d'afficher le nom d'un participant de la table assosPartiSort donc le nom d'un inscrit à la sortie #}
                    <td>{{ assosPartiSort.participant.nom }}</td>
                </tr>

            {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}

{% block title %}
    {{ parent() }} | Consulter les détails d'une sortie
{% endblock %}