{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}|créer une Sortie
{% endblock %}

{% block body %}
    <h2>Création d'une sortie</h2>

    {{ form_start(sortieForm) }}
    <div class="flex-column">


        <div class="flex">

                <div>
            <div class="block">
                    {{ field_label(sortieForm.nom) }}
                    {{ form_widget(sortieForm.nom) }}
                    {{ form_errors(sortieForm.nom) }}
                </div>

                <div class="block">
                    {{ field_label(sortieForm.dateHeureDebut) }}
                    {{ form_widget(sortieForm.dateHeureDebut) }}
                    {{ form_errors(sortieForm.dateHeureDebut) }}
                </div>
                <div class="block">
                    {{ field_label(sortieForm.dateLimiteInscription) }}
                    {{ form_widget(sortieForm.dateLimiteInscription) }}
                    {{ form_errors(sortieForm.dateLimiteInscription) }}
                </div>
                <div class="block">
                    {{ field_label(sortieForm.nbInscriptionsMax) }}
                    {{ form_widget(sortieForm.nbInscriptionsMax) }}
                    {{ form_errors(sortieForm.nbInscriptionsMax) }}
                </div>
                <div class="block">
                    {{ field_label(sortieForm.duree) }}
                    {{ form_widget(sortieForm.duree) }}
                    {{ form_errors(sortieForm.duree) }}
                </div>
                <div class="block">
                    {{ field_label(sortieForm.infosSortie) }}
                    {{ form_widget(sortieForm.infosSortie) }}
                    {{ form_errors(sortieForm.infosSortie) }}
                </div>
            </div>

        </div>

        <div class="flex">


            <div  class="block">
                <p>
                    Campus : {{ campus }}
                </p>
            </div>
            <div class="block">
                {{ field_label(sortieForm.Ville) }}
                {{ form_widget(sortieForm.Ville) }}
                {{ form_errors(sortieForm.Ville) }}
            </div>
            <div class="block">
                <div>
                    {{ field_label(sortieForm.Lieu) }}
                    {{ form_widget(sortieForm.Lieu) }}
                    {{ form_errors(sortieForm.Lieu) }}
                    <a href="{{ path('lieu_creer') }}"><img class="plus-button"
                                                            src="{{ asset('images/front-office/menu-items/plusImage.png') }}"
                                                            alt="image d'un plus"> </a>
                </div>
                <div class="block">
                    <label for="rue">Rue :</label><input id="rue" type="text" readonly>
                </div>
                <div class="block">
{#                    <label for="codePostal">Code Postal :</label><p id="codePostal" type="text"></p>#}
                    <label for="codePostal">Code Postal :</label><input id="codePostal" type="text" readonly>
                </div>
                <div class="block">
                    <label for="latitude">latitude :</label><input id="latitude" type="text" readonly>
                </div>
                <div class="block">
                    <label for="longitude">longitude :</label><input id="longitude" type="text" readonly>
                </div>
            </div>
        </div>
    </div>
    <div>
        {{ form_widget(sortieForm.enregistrer) }}
        {{ form_widget(sortieForm.publier) }}
        {{ form_end(sortieForm) }}
    </div>
    <a href="{{ path('sortie_liste_sorties') }}">
        <button class="button-blue">Annuler</button>
    </a>

{% endblock %}

{% block javascripts %}
<script type="text/javascript">

    window.onload = init;
    function init(){


        // On récupère nos éléments à modifier
    let inputRue =document.getElementById('rue');
    let inputCodePostal =document.getElementById('codePostal');
    let inputLatitude =document.getElementById('latitude');
    let inputLongitude =document.getElementById('longitude');
        // On récupère nos select à écouter
    let selectVille =document.getElementById('sortie_Ville');
    let selectLieu = document.getElementById('sortie_Lieu');

    let testTab = [inputRue, inputCodePostal, inputLatitude, inputLongitude, selectLieu, selectVille];

    // On ajoute l'event listener de Ville
    selectVille.addEventListener('change', function (){

        let dataVille ={'ville_id' : selectVille.value};

        // Objet XMLHttpRequest
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "{{ path('ville_ajax_select') }}");
        xmlhttp.setRequestHeader("Content-type", "application/json;charset=UTF-8");
        xmlhttp.onload = function (){

            // On récupère le code postal de la ville et rempli le champ associé
            dataVille = JSON.parse((this.responseText));
            inputCodePostal.removeAttribute('readonly');
            inputCodePostal.setAttribute('value', dataVille.codePostalAjax);
            inputCodePostal.setAttribute('readonly', '');

            // On récupère la rue du premier lieu associé à cette ville et rempli le champ associé
            inputRue.removeAttribute('readonly');
            inputRue.setAttribute('value', dataVille.LieuRue);
            inputRue.setAttribute('readonly', '');

            // On récupère la latitude du premier lieu associé à cette ville et rempli le champ associé
            inputLatitude.removeAttribute('readonly');
            inputLatitude.setAttribute('value', dataVille.LieuLatitude);
            inputLatitude.setAttribute('readonly', '');

            // On récupère la longitude du premier lieu associé à cette ville et rempli le champ associé
            inputLongitude.removeAttribute('readonly');
            inputLongitude.setAttribute('value', dataVille.LieuLongitude);
            inputLongitude.setAttribute('readonly', '');

            // On récupère l'Id du 1er Lieu associé, le transforme en texte et l'utilise pour remplacer la valeur du select Lieu
            let valeurEnTexte = "".concat(dataVille.LieuId);
            selectLieu.value = valeurEnTexte;
        }
        xmlhttp.send(JSON.stringify(dataVille));

        {#// Appel Ajax avec Fetch#}
        {#fetch('{{ path('ville_ajax_select') }}', {method : 'POST', body : JSON.stringify(dataVille)} )#}
        {#    .then(function (response){ //c'est la promesse#}
        {#        return response.json();#}
        {#    })#}
        {#    .then(function (dataVille){#}
        {#        console.log(dataVille);#}
        {#        inputCodePostal.innerHTML = dataVille.codePostalAjax;#}
        {#    });#}

    });

    // On ajout un event listener sur le select de Lieu
    selectLieu.addEventListener('change', function (){

        let dataLieu ={'lieu_id' : selectLieu.value};

        let xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "{{ path('lieu_ajax_select') }}");
        xmlhttp.setRequestHeader("Content-type", "application/json;charset=UTF-8");
        xmlhttp.onload = function (){

            // On récupère le code postal de la ville et rempli le champ associé
            dataLieu = JSON.parse((this.responseText));
            inputCodePostal.removeAttribute('readonly');
            inputCodePostal.setAttribute('value', dataLieu.codePostalAjax);
            inputCodePostal.setAttribute('readonly', '');

            // On récupère la rue du lieu et rempli le champ associé
            inputRue.removeAttribute('readonly');
            inputRue.setAttribute('value', dataLieu.LieuRue);
            inputRue.setAttribute('readonly', '');

            // On récupère la latitude du  lieu et rempli le champ associé
            inputLatitude.removeAttribute('readonly');
            inputLatitude.setAttribute('value', dataLieu.LieuLatitude);
            inputLatitude.setAttribute('readonly', '');

            // On récupère la longitude du lieu et rempli le champ associé
            inputLongitude.removeAttribute('readonly');
            inputLongitude.setAttribute('value', dataLieu.LieuLongitude);
            inputLongitude.setAttribute('readonly', '');

            // On récupère l'Id de la ville, le transforme en texte et l'utilise pour remplacer la valeur du select Ville
            let valeurEnTexte = "".concat(dataLieu.VilleId);
            selectVille.value = valeurEnTexte;
        }
        xmlhttp.send(JSON.stringify(dataLieu));
    });
    }
</script>
{% endblock %}

