<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('css/normalise.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="icon" href="{{ asset('images/front-office/ico/Sortir-ico.jpg') }}">
    <title>{% block title %}Sortir entre élèves{% endblock %}</title>

    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
</head>
<body>
<header>
    {{ include('header/header.html.twig') }}
</header>
<main>
    {% block body %}{% endblock %}
</main>
<footer>
    {{ include('footer/footer.html.twig') }}
</footer>
<script src="{{ asset('js/script-global.js') }}"></script>
</body>
</html>
